body {
    font-family: 'Open Sans', sans-serif;
}

#fork-me-on-github {
    position: fixed;
    top: 0;
    right: 0;
}

#main-logo {
    width: 11rem;
    margin-bottom: 2rem;
}


#main-hero {
    background: #2d465a url('/assets/images/bg.png') no-repeat 50% 50%;
    background-size: cover;
}

#scattered-elements {
    display: none;
}

#main-hero .hero-body .container .title{
    font-size: 32px;
    line-height: 100px;
}

#main-hero .hero-body .container .subtitle {
    font-weight: lighter;
    font-size: 32px;
    line-height: 50px;
}

.hero-body {
    background: rgba(0, 0, 0, 0.5);
}

.moon {
    content: url(/assets/images/moon.svg);
    height: 46px;
    width: 46px;
    position: absolute;
    top: 100px;
    right: 5%;
}

.rocket {
    content: url(/assets/images/rocket.svg);
    height: 23px;
    width: 36px;
    position: absolute;
    top: 150px;
    left: 5%;
}

.hero-head:after {
    content: '';
    background-image: url(/assets/images/stars.svg);
    background-size: cover;
    width: 1000px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -500px;
    z-index: 1;
    max-width: 100%;
}

.center-all {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.is-primary-forced {
    background-color: #2d465a !important;
    border-color: #f3d59f !important;
    color: #fff !important;
}

input#roomId:hover {
    border-color: #f3d59f;
}

input#roomId:active {
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    border-color: #f3d59f;
}

footer {
    background-color: #101f2a !important;
    color: white;
    border-top: 1px solid #f3d59f;
}

footer a {
    color: white;
}

footer a:hover  {
    color: #00d1b2;
}

footer strong {
    color: white;
}







.navbar {
    background: #20211e;
    border-bottom: 1px solid #000;
}

.navbar-item, .navbar-link {
    color: white;
}


.navbar-item img {
    max-height: 2rem;
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
    background-color: transparent;
    color: white;
    text-decoration: underline;
}

#wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 56px;
    background-color: #272822;
}

#editor-wrapper {
    height: 100%;
    padding-top: 1rem;
}

#editor {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    min-height: 35rem;
}

#controls {
    background: #20211e;
    border-left: 1px solid #000;
    padding: 0;
}

#controls .box{
    background: transparent;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.select select {
    background-color: transparent;
    color: white;
}

.select select option {
    color: white;
    background: #272822;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: white;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: white;
}

.list {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    width: 75%;
}

.list-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-item:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a.list-item {
    background-color: transparent;
    color: white;
    border-radius: 0;
}

.list-item:hover {
    border-bottom: 1px solid #00d1b2 !important;
}

.list-item:not(:last-child) {
    border-bottom: 1px solid transparent;
}

.list-item {
    border-bottom: 1px solid transparent;
}

#activity-log p {
    margin-bottom: 0.5rem;
}

.switch[type=checkbox]+label::after, .switch[type=checkbox]+label:after {
    display: block;
    position: absolute;
    top: .25rem;
    left: .25rem;
    width: 1rem;
    height: 1rem;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    border-radius: 4px;
    background: #fff;
    transition: all .25s ease-out;
    content: '';
}

.switch[type=checkbox]:checked+label::after {
    left: 1.625rem;
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background: #20211e;
        border-bottom: 1px solid #000;
    }
}











.mt1 {
   margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt3 {
    margin-top: 3rem;
}

.mb5 {
    margin-bottom: 5rem;
}