body {
    font-family: 'Open Sans', sans-serif;
}

#main-logo {
    width: 11rem;
    margin-bottom: 2rem;
}


#main-hero {
    background: #2d465a url('/assets/images/bg.png') no-repeat 50% 50%;
    background-size: cover;
}

#scattered-elements {
    display: none;
}

#main-hero .hero-body .container .title{
    font-size: 32px;
    line-height: 100px;
}

#main-hero .hero-body .container .subtitle {
    font-weight: lighter;
    font-size: 32px;
    line-height: 50px;
}

.hero-body {
    background: rgba(0, 0, 0, 0.5);
}

.moon {
    content: url(/assets/images/moon.svg);
    height: 46px;
    width: 46px;
    position: absolute;
    top: 100px;
    right: 5%;
}

.rocket {
    content: url(/assets/images/rocket.svg);
    height: 23px;
    width: 36px;
    position: absolute;
    top: 150px;
    left: 5%;
}

.hero-head:after {
    content: '';
    background-image: url(/assets/images/stars.svg);
    background-size: cover;
    width: 1000px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -500px;
    z-index: 1;
    max-width: 100%;
}

.center-all {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.is-primary-forced {
    background-color: #2d465a !important;
    border-color: #f3d59f !important;
    color: #fff !important;
}

input#roomId:hover {
    border-color: #f3d59f;
}

input#roomId:active {
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    border-color: #f3d59f;
}

footer {
    background-color: #101f2a !important;
    color: white;
    border-top: 1px solid #f3d59f;
}

footer a {
    color: white;
}

footer a:hover  {
    color: #00d1b2;
}

footer strong {
    color: white;
}

.mt1 {
   margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt3 {
    margin-top: 3rem;
}

.mb5 {
    margin-bottom: 5rem;
}